#home{
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;

  .headerBox{
    width: calc(100% - 2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d9d9d9;

    .input{
      flex: 1;
      min-width: 1px;
      padding: 15px;
      font-size: 20px;
      border: none;
      outline: none;
      color: $text-color;

      &:first-child{
        border-right: 3px solid $geekblue-6;
      }
    }

    .btnAdd{
      outline: none;
      border: none;
      font-size: 20px;
      padding: 15px;
      background-color: $geekblue-6;
      color: #ffffff;
      cursor: pointer;
      transition: .3s;

      &:hover{
        background-color: $geekblue-8;
      }
    }
  }

  .contentBox{
    width: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    margin: 10px 0;

    .contentItem{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #ffffff;
      border-bottom: 1px solid #d9d9d9;
      transition: .3s;
      cursor: default;

      &:hover{
        background-color: $geekblue-1;
      }

      &:last-child{
        border-bottom: none;
      }

      .contentItem__title{
        flex: 1;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        border-right: 1px solid #d9d9d9;
        word-break: break-word;

        span{
          line-height: 5px;
          margin: 0 20px;
          width: 25px;
          height: auto;
        }

        .input{
          width: 40%;
          padding: 5px;
          font-size: 20px;
          border: 1px solid #d9d9d9;
          outline: none;
          color: $text-color;
        }
      }

      .contentItem__controls{
        padding: 10px 20px;
        box-sizing: border-box;

        .btnControls{
          background-color: transparent;
          width: 16px;
          border: none;
          outline: none;
          cursor: pointer;
          transition: .3s;
          margin-right: 20px;

          &:hover{
            color: $geekblue-6;
          }

          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }

  .btnTest{
    outline: none;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: $geekblue-6;
    transition: .3s;
    cursor: pointer;

    &:hover{
      background-color: $geekblue-8;
    }
  }
}