#testing{
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  
  .headerBox{
    width: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;

    .headerBox__step{
      font-size: 20px;
      margin-bottom: 10px;
    }

    .headerBox__title{
      font-size: 30px;

      span{
        color: $geekblue-6;
        font-weight: bold;
      }
    }
  }

  .testBox{
    width: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;

    .test__variable{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $geekblue-1;
      box-sizing: border-box;
      padding: 10px 20px;
      margin-bottom: 10px;
      transition: .3s;
      cursor: pointer;

      &:hover{
        background-color: $geekblue-6;
        color: #ffffff;
      }

      &:last-child{
        margin-bottom: 0;
      }

      .variable__num{
        width: 20px;

      }
    }
  }

  .btnTest{
    outline: none;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: $geekblue-6;
    transition: .3s;
    cursor: pointer;

    &:hover{
      background-color: $geekblue-8;
    }
  }
}