@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import './_variables';
@import './_homeScreen';
@import './_testingScreen';

*{
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

html, body{
  width: 100%;
  height: auto;
  min-height: 100vh;
}

body{
  background-color: #f5f5f5;
  overflow-y: hidden;
}

#app{
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}