<template lang="pug">
  #home
    .headerBox
      input.input(v-model="newWord.original" placeholder="Слово")
      input.input(v-model="newWord.translate" placeholder="Перевод" @keyup.enter="addNewWord")
      button.btnAdd(@click="addNewWord") Добавить
    .contentBox
      contentItem(v-for="(word, i) in words" :word="word" :num="i")
    button.btnTest(@click="goTesting") Начать тестирование
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import * as interfaces from "@/lib/interfaces"
import { Validator } from '@/lib/validator'

import contentItem from '@/components/contentItem.vue'

const WordValidator = new Validator()

@Component({
  components: {
    contentItem
  }
})
export default class HomeScreen extends Vue{
  private newWord: interfaces.word = {
    original: '',
    translate: ''
  }

  private goTesting(): void{
    this.$router.push('/testing').catch((error) => { console.log(error) })
  }

  private addNewWord(): void{
    if(WordValidator.validate(this.newWord)){
      this.newWord.original = WordValidator.formatWord(this.newWord.original)
      this.newWord.translate = WordValidator.formatWord(this.newWord.translate)

      this.$store.commit('setWord', this.newWord)
      this.resetValues()
      this.$toast.success('Добавлено новое слово!')
    } else{
      this.$toast.error('Заполните все поля!')
    }
  }

  private resetValues(): void{
    this.newWord = {
      original: '',
      translate: ''
    }
  }

  get words(): Array<interfaces.word>{
    return this.$store.getters.words
  }
}
</script>