<template lang="pug">
  #testing
    template(v-if="mode === 'test'")
      .headerBox 
        .headerBox__step Этап {{ (step+1) }}/20
        .headerBox__title Выберите верный перевод слова: <span>{{ test[step].original }}</span>
      .testBox
        .test__variable(v-for="(word, i) in test[step].variables" @click="setAnswer(word)")
          .variable__num {{ (i+1) }}.
          .variable__name {{ word }}
      button.btnTest(@click="mode = 'results'") Завершить тестирование
    template(v-if="mode === 'results'")
      .headerBox 
        .headerBox__step Тестирование завершено!
        .headerBox__title Вы набрали баллов {{ resultTotal }} из 20 возможных!
      button.btnTest(@click="startTest") Пройти еще раз
      button.btnTest(@click="goHome") К списку слов
    template(v-if="mode === 'error'")
      .headerBox
        .headerBox__title Для тестирования нужно записать минимум 20 слов! У вас {{ (this.words.length) }}
      button.btnTest(@click="goHome") К списку слов
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { TestController } from '@/lib/controllers/testController'
import * as interfaces from "@/lib/interfaces"

@Component({})
export default class TestingScreen extends Vue{
  private test: Array<any> = []
  private step = 0
  private resultTotal = 0
  private mode = 'test' // results | error

  created() {
    if(this.words.length < 20){
      this.mode = 'error'
    }
    this.startTest()
  }

  private setAnswer(word: string): void{
    if(word === this.test[this.step].translate){
      this.step += 1
      this.resultTotal += 1
      this.$toast.success('Правильно!')
    } else{
      this.step += 1
      this.$toast.error('Неверно!')
    }

    if(this.step === 20){
      this.mode = 'results'
    }
  }

  private goHome(){
    this.$router.push('/').catch((error) => { console.log(error) })
  }

  private startTest(): void{
    const Test = new TestController(this.words)
    this.test = Test.getTest()

    this.step = 0
    this.resultTotal = 0
    this.mode = 'test'
  }

  get words(): Array<interfaces.word>{
    return this.$store.getters.words
  }
}
</script>