<template lang="pug">
  .contentItem
    .contentItem__title(v-if="mode === 'view'")
      | {{ (num+1) }}. {{ word.original }}
      span
        v-icon(name="arrow-right")
      | {{ word.translate }}
    .contentItem__title(v-if="mode === 'edit'")
      input.input(v-model="editableWord.original")
      span
        v-icon(name="arrow-right")
      input.input(v-model="editableWord.translate" @keyup.enter="saveWord")
    .contentItem__controls(v-if="mode === 'view'")
      button.btnControls(@click="editWord")
        v-icon(name="edit-2")
      button.btnControls(@click="deleteWord")
        v-icon(name="trash")
    .contentItem__controls(v-if="mode === 'edit'")
      button.btnControls(@click="saveWord")
        v-icon(name="check")
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import * as interfaces from "@/lib/interfaces"
import { Validator } from '@/lib/validator'

const WordValidator = new Validator()

@Component({})
export default class ContentItem extends Vue{
  @Prop() word!: interfaces.word
  @Prop() num!: number

  private mode = 'view'
  private editableWord: interfaces.word = this.word

  private editWord(): void{
    this.mode = 'edit'
  }

  private saveWord(): void{
    if(WordValidator.validate(this.editableWord)){
      this.$store.commit('updateWord', this.editableWord)
      this.mode = 'view'
      this.$toast.success('Слово изменено!')
    } else{
      this.$toast.error('Заполните все поля!')
    }
  }

  private deleteWord(): void{
    this.$store.dispatch('deleteWord', this.word.uuid)
    this.$toast.success('Слово удалено!')
  }
}
</script>